# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
.DS_Store
dump.rdb
media/
staticfiles/
newrelic.ini

# VSCode
.vscode/

# macOS
.DS_Store

# Python virtual environment
venv/

# Django migrations
**/migrations/*
!**/migrations/__init__.py

# Environment variables
.env
.env.* 